body {
	font-family: Impact, Charcoal, sans-serif;
 background-color: #FFFF00

}  	

	img{ 
	size: 250px; border: 5px solid silver
}

div img{
     transition: transform .2s;
 size: 250px
  margin: 0 auto;
}

div img:hover {
  -ms-transform: scale(2); /* IE 9 */
  -webkit-transform: scale(2); /* Safari 3-8 */
  transform: scale(2); 
}	

nav a {
		 	font-family: Impact, Charcoal, sans-serif;
  display:inline;
  font-size: 32px;
  font-weight:bold;
  margin-right:1.5em;
    color:black;
}

nav a:hover{font-size:38px;
			transition:0.3s ease;
}

#homePage{
	 	font-family: Impact, Charcoal, sans-serif;
		font-size: 32px;
		margin-right:1.5em;
		  display:inline;

}

h1{
	font-family: Aharoni;
	font-size:70px;
}

h2{
	font-family: Aharoni;
	font-size:45px;
}

p{
		font-family: Aharoni;
	font-size:28px;
		margin-left:15%;
	margin-right:15%;	
}

ul {
	text-align: left;
	display: block;
	font-family: Aharoni;
	font-size:28px;
	margin-left:15%;
	margin-right:15%;
}