body {
	 background-image: url(https://scontent.ftlv5-1.fna.fbcdn.net/v/t1.0-9/90606962_2919595191461860_1791115101755932672_o.jpg?_nc_cat=101&_nc_sid=e3f864&_nc_ohc=S3DJkVDXUIMAX_56AFJ&_nc_ht=scontent.ftlv5-1.fna&oh=1a8d63c60bdb39a13aab1f672eace4ca&oe=5F4248D1);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
	      color:white;
 	font-family: Impact, Charcoal, sans-serif;
      }  

}
	img{ 
	size: 250px; 
}
	
nav a {
		 	font-family: Impact, Charcoal, sans-serif;
  display:inline;
  font-size: 32px;
  font-weight:bold;
  margin-right:1.5em;
      color:white;
	 

}

nav a:hover{font-size:38px;
			transition:0.3s ease;
}

#homePage{
	 	font-family: Impact, Charcoal, sans-serif;
		font-size: 32px;
		margin-right:1.5em;
		  display:inline;
		color: white
}

h1{
	font-family: Aharoni;
	font-size:70px;
}

h2{
	font-family: Aharoni;
	font-size:45px;
}

h3{
	font-family: Aharoni;
	font-size:35px;
}
p{
		font-family: Aharoni;
	font-size:28px;
		margin-left:15%;
	margin-right:15%;	
}

.boxh{background-color:#000000;
	 margin-top:20px;
     margin-bottom:50px;

}
